global:
  scrape_interval: 15s

rule_files:
  - "/etc/prometheus/alert.rules.yml"
  
scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node-exporter'
    static_configs:
      - targets: ['node-exporter:9100']

  - job_name: 'backend-go'
    static_configs:
      - targets: ['backend-go:8080']

  - job_name: 'backend-rust'
    static_configs:
      - targets: ['backend-rust:8000']